In [23]:
import pandas as pd

In [24]:


file = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [25]:
player_count = purchase_data["SN"].value_counts()
print(f" total players = {player_count.count()}")

 total players = 576

In [78]:
unique_items = purchase_data["Item Name"].value_counts()
unique_items.count()
profit = purchase_data["Price"].sum()
total_purchases = purchase_data["Purchase ID"].count()
average = profit/total_purchases

purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items.count()],
                                  "Average Price": [average],
                                  "Number of Purchases": [total_purchases],
                                  "Total Revenue": [profit]})
purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [102]:
Males = pd.unique(purchase_data[purchase_data['Gender'] == "Male" ]['SN'])
Females = pd.unique(purchase_data[purchase_data['Gender'] == "Female" ]['SN'])
Others = pd.unique(purchase_data[purchase_data['Gender'] == "Other / Non-Disclosed" ]['SN'])
#len(Males)
#len(Females)
#len(Others)
Gender_analysis = pd.DataFrame({"":["Male", "Female", "Other/Non-Disclosed"], 
                                "Total Count": [len(Males), len(Females), len(Others)],
                                "Percentage of players": [len(Males)/player_count.count()*100, len(Females)/player_count.count()*100, len(Others)/player_count.count()*100 ]})
Gender_analysis

                        Total Count  Percentage of players
0                 Male          484              84.027778
1               Female           81              14.062500
2  Other/Non-Disclosed           11               1.909722