3 obervable trends in the data
1.) Men are significantly more likely to play the game, however, they also spend the least on average  - however this could be due to the small sample size we have at the moment.
2.) the 20-24 age group seems far more likely to spend money on the game, and higher amounts than most other age group. It would be prudent to keep this in mind when creating new purchasable items
3.) Final Critic and Oathbreaker appear to be the best selling items, also being relatively expensive, it seems that the design choices in these 2 are more desireable than some of the other items

In [1]:
import pandas as pd

In [2]:


file = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
player_count = purchase_data["SN"].value_counts()
print(f" total players = {player_count.count()}")

 total players = 576

In [4]:
unique_items = purchase_data["Item Name"].value_counts()
unique_items.count()
profit = purchase_data["Price"].sum()
total_purchases = purchase_data["Purchase ID"].count()
average = profit/total_purchases

purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items.count()],
                                  "Average Price": [average],
                                  "Number of Purchases": [total_purchases],
                                  "Total Revenue": [profit]})


purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [5]:
Males = pd.unique(purchase_data[purchase_data['Gender'] == "Male" ]['SN'])
Females = pd.unique(purchase_data[purchase_data['Gender'] == "Female" ]['SN'])
Others = pd.unique(purchase_data[purchase_data['Gender'] == "Other / Non-Disclosed" ]['SN'])
#len(Males)
#len(Females)
#len(Others)
Gender_analysis = pd.DataFrame({"":["Male", "Female", "Other/Non-Disclosed"], 
                                "Total Count": [len(Males), len(Females), len(Others)],
                                "Percentage of players": [len(Males)/player_count.count(), len(Females)/player_count.count(), len(Others)/player_count.count() ]})

Gender_analysis["Percentage of players"] = Gender_analysis["Percentage of players"].map("${:.2%}".format)


Gender_analysis

                        Total Count Percentage of players
0                 Male          484               $84.03%
1               Female           81               $14.06%
2  Other/Non-Disclosed           11                $1.91%

In [6]:
Male_purchase = purchase_data.loc[purchase_data["Gender"] == "Male", :]
Female_purchase = purchase_data.loc[purchase_data["Gender"] == "Female", :]
Other_purchase = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
totalM = Male_purchase["Price"].sum()
totalF = Female_purchase["Price"].sum()
totalO = Other_purchase["Price"].sum()
Gender_spending = pd.DataFrame({"Gender":["Male", "Female", "Other/Non-Disclosed"], 
                                "Purchase Count": [len(Male_purchase), len(Female_purchase), len(Other_purchase)],
                                "Average Purchase Price": [totalM/len(Male_purchase),totalF/len(Female_purchase),totalO/len(Other_purchase)],
                                "Total Purchase Value": [totalM,totalF,totalO],
                                "Avg Total Purchase per Person": [totalM/len(Males), totalF/len(Females), totalO/len(Others) ]})


Gender_spending["Average Purchase Price"]=Gender_spending["Average Purchase Price"].map("${:.2f}".format)
Gender_spending["Total Purchase Value"]=Gender_spending["Total Purchase Value"].map("${:.2f}".format)
Gender_spending["Avg Total Purchase per Person"]=Gender_spending["Avg Total Purchase per Person"].map("${:.2f}".format)

Gender_spending

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,$3.02,$1967.64,$4.07
1,Female,113,$3.20,$361.94,$4.47
2,Other/Non-Disclosed,15,$3.35,$50.19,$4.56

In [7]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [8]:
unique_age1 = pd.unique(purchase_data[purchase_data['Age Range'] == "<10" ]['SN'])
unique_age2 = pd.unique(purchase_data[purchase_data['Age Range'] == "10-14" ]['SN'])
unique_age3 = pd.unique(purchase_data[purchase_data['Age Range'] == "15-19" ]['SN'])
unique_age4 = pd.unique(purchase_data[purchase_data['Age Range'] == "20-24" ]['SN'])
unique_age5 = pd.unique(purchase_data[purchase_data['Age Range'] == "25-29" ]['SN'])
unique_age6 = pd.unique(purchase_data[purchase_data['Age Range'] == "30-34" ]['SN'])
unique_age7 = pd.unique(purchase_data[purchase_data['Age Range'] == "35-39" ]['SN'])
unique_age8 = pd.unique(purchase_data[purchase_data['Age Range'] == "40+" ]['SN'])


bin1 = purchase_data.loc[purchase_data["Age Range"] == "<10", :]
bin2 = purchase_data.loc[purchase_data["Age Range"] == "10-14", :]
bin3 = purchase_data.loc[purchase_data["Age Range"] == "15-19", :]
bin4 = purchase_data.loc[purchase_data["Age Range"] == "20-24", :]
bin5 = purchase_data.loc[purchase_data["Age Range"] == "25-29", :]
bin6 = purchase_data.loc[purchase_data["Age Range"] == "30-34", :]
bin7 = purchase_data.loc[purchase_data["Age Range"] == "35-39", :]
bin8 = purchase_data.loc[purchase_data["Age Range"] == "40+", :]

total1 = bin1["Price"].sum()
total2 = bin2["Price"].sum()
total3 = bin3["Price"].sum()
total4 = bin4["Price"].sum()
total5 = bin5["Price"].sum()
total6 = bin6["Price"].sum()
total7 = bin7["Price"].sum()
total8 = bin8["Price"].sum()
Age_Group_spending = pd.DataFrame({"Age Ranges":["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], 
                                "Purchase Count": [len(bin1), len(bin2), len(bin3), len(bin4), len(bin5), len(bin6), len(bin7), len(bin8)],
                                "Average Purchase Price": [total1/len(bin1), total2/len(bin2), total3/len(bin3), total4/len(bin4), total5/len(bin5), total6/len(bin6), total7/len(bin7), total8/len(bin8)],
                                "Total Purchase Value": [total1, total2, total3, total4, total5, total6, total7, total8],
                                "Avg Total Purchase per Person": [total1/len(unique_age1) ,total2/len(unique_age2) ,total3/len(unique_age3) ,total4/len(unique_age4) ,total5/len(unique_age5) ,total6/len(unique_age6) ,total7/len(unique_age7) ,total8/len(unique_age8)]})


Age_Group_spending["Average Purchase Price"]=Age_Group_spending["Average Purchase Price"].map("${:.2f}".format)
Age_Group_spending["Total Purchase Value"]=Age_Group_spending["Total Purchase Value"].map("${:.2f}".format)
Age_Group_spending["Avg Total Purchase per Person"]=Age_Group_spending["Avg Total Purchase per Person"].map("${:.2f}".format)


Age_Group_spending

,Age Ranges,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,$3.35,$77.13,$4.54
1,10-14,28,$2.96,$82.78,$3.76
2,15-19,136,$3.04,$412.89,$3.86
3,20-24,365,$3.05,$1114.06,$4.32
4,25-29,101,$2.90,$293.00,$3.81
5,30-34,73,$2.93,$214.00,$4.12
6,35-39,41,$3.60,$147.67,$4.76
7,40+,6,$2.79,$16.71,$3.34

In [22]:
Player_Spend = purchase_data.groupby(["SN"])

Spenders = pd.DataFrame({"Purchase Count": player_count,
                         "Average Purchase Price": Player_Spend["Price"].sum()/Player_Spend["Price"].count(),
                         "Total Purchase Value": Player_Spend["Price"].sum()})



Top_Spenders = Spenders.sort_values("Total Purchase Value", ascending=False)

Top_Spenders["Average Purchase Price"]=Top_Spenders["Average Purchase Price"].map("${:.2f}".format)
Top_Spenders["Total Purchase Value"]=Top_Spenders["Total Purchase Value"].map("${:.2f}".format)

Top_Spenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

In [31]:
Items_Sold = purchase_data.groupby(["Item ID", "Item Name"])

Items_Summary = pd.DataFrame({"Purchase Count": Items_Sold["Item ID"].count(),
                              "Item Price": Items_Sold["Price"].sum()/Items_Sold["Price"].count(),
                              "Total Purchase Value": Items_Sold["Price"].sum()})

Pop_Items = Items_Summary.sort_values("Purchase Count", ascending=False)

Pop_Items["Item Price"]=Pop_Items["Item Price"].map("${:.2f}".format)
Pop_Items["Total Purchase Value"]=Pop_Items["Total Purchase Value"].map("${:.2f}".format)



Pop_Items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [33]:
Profit_Items = Items_Summary.sort_values("Total Purchase Value", ascending=False)

Profit_Items["Item Price"]=Profit_Items["Item Price"].map("${:.2f}".format)
Profit_Items["Total Purchase Value"]=Profit_Items["Total Purchase Value"].map("${:.2f}".format)

Profit_Items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80